:root {
  --primaryColor: hsl(217, 28%, 15%);
  --mainBg: hsl(218, 28%, 13%);
  --footerBg: hsl(216, 53%, 9%);
  --testimonialsBg: hsl(219, 30%, 18%);
  --cyanColor: hsl(176, 68%, 64%);
  --blueColor: hsl(198, 60%, 50%);
  --errorColor: hsl(0, 100%, 63%);
  --whiteColor: hsl(0, 0%, 100%);

  /*Font Typography*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.inputMailSection {
  width: 100%;
  height: 10rem;
  margin-top: 10rem;
  position: relative;
  .card {
    position: absolute;
    width: 60vw;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem 4rem;
    background-color: var(--primaryColor);
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 5px;
    h1 {
      font-size: var(--h1FontSize);
      color: var(--whiteColor);
      text-align: center;
    }
    p {
      width: 70%;
      text-align: center;
      opacity: 0.8;
      color: var(--whiteColor);
      font-size: var(--normalFontSize);
    }
    .inputDiv {
      width: 100%;
      justify-content: space-between;
      gap: 2rem;
      flex-wrap: wrap;
      .input {
        flex: 2.5;
        flex-direction: column;
        position: relative;
        input {
          width: 100%;
          min-width: 200px;

          align-items: flex-start;
          border-radius: 30px;
          border: none;
          outline: none;
          padding: 0.75rem 1rem;
        }
        span {
          color: var(--errorColor);
          position: absolute;
          left: 0;
          font-size: var(--smallestFontSize);
          bottom: -20px;
          display: none;
        }
      }
      button {
        flex: 1;
        padding: 0.75rem 1rem;
        min-width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .inputMailSection {
    .card {
      width: 80vw;
    }
  }
}
@media screen and (max-width: 750px) {
  .inputMailSection {
    .card {
      padding: 1.5rem 3rem;
      p {
        width: 85%;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .inputMailSection {
    .card {
      width: 90vw;
      h1 {
        font-size: var(--h2FontSize);
      }
      p {
        font-size: var(--smallFontSize);
      }
    }
  }
}
